.app__navbar{
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.app__container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.app_cnt{
    padding: 10px;
    margin-top: 60px;
}

.app__heading{
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    margin-left: 20px;
    color: white;
}

